body {
    background-color:yellow;
}

h1{
    color: black;
    text-align: center;
    font-family: "Papyrus",fantasy;
    
}
p.one{
    color: black;
    text-align: center;
    font-family: fantasy;
    border-style:double;
    border-color: blue;
    
}

    
